<h3>Create a new doctor list:</h3>

<form action="/drs_list" method="post">
  <label for="name">Doctors Name</label>
  <input id="name" name="name" type="text">

  <button type="submit">Add Doctor</button>
</form>
