<h1>Welcome to the DR.s office</h1>

<div class="container">
  <a href="/drs_list">View All Drs</a>
  <a href="/drs_list/new">Add Dr</a>
  <a href="/patients">View All Patients</a>
  <a href="/patient_form">Add Patient</a>

</div>
